<% if @current_user %>
<% if @gists.count > 0 %>
<ul id="grid-content">
<% @gists.each do |g| %>
  <li>
      <h5><%= link_to "Gist: #{g.gid}", gists_show_path(g) %></h5>
    
      <% g.tags.each do |tag| %>
      <a href="/?tag=<%= tag.name %>">
        <span class="label label-info">
          <i class="icon-tag icon-white"></i> <%= tag.name %>
        </span>
      </a>
      <% end %>
      <p><%= g.description %></p>

      <div class="tagged">
        <form class="form-inline">
          <input class="input-small check_field name" name="name" placeholder="Tag Name" required="required" type="text">
          <input type="hidden" class="gist_id" name="gist_id" value="<%= g.id %>">
          <a class="btn btn-small tagged_button" disabled="disabled" href="javascript:void(0)">Tagging</a>
        </form>
      </div>

      <% if @current_tag %>
      <div class="untagged">
        <a class="untagged_button" href="javascript:void(0)">Untagged <%= @current_tag %></a>
        <input type="hidden" class="name" name="name" value="<%= @current_tag %>">
        <input type="hidden" class="gist_id" name="gist_id" value="<%= g.id %>">
      </div>
      <% end %>

      <%= link_to "Gist", g.html_url, target: "_blank" %>
  </li>
<% end %>
</ul>
<% else %>
<div class="span12">
  <p class="text-error">Gists are not synchronized. Please click Sync Gist or register Gist.</p>
</div>
<% end %>
<% end %>
