<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tagged Gist</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<header class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Tagged Gist", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse target">
      <ul class="nav navbar-nav">
        <% if @current_user %>
        <li><a href="<%= @current_user.github_url %>" target="_blank"><i class="glyphicon glyphicon-user"></i> <%= @current_user.nickname %></a></li>
        <li><a id="sync_button" href="javascript:void(0)"><span id="sync_icon"><i class="glyphicon glyphicon-refresh"></i></span> Sync Gist</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-tags"></i> Tags<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/"><i class="glyphicon glyphicon-tag"></i> All</a></li>
            <% @tags.each do |tag| %>
            <li><a href="<%= root_path(tag: tag) %>"><i class="glyphicon glyphicon-tag"></i> <%= tag %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
        <li><%= link_to "Sign out", signout_path %></li>
        <% else %>
        <li><%= link_to "Sign in with GitHub", "/auth/github" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>

<%= render partial: "shared/notice" %>
<%= render partial: "shared/alert" %>

<div class="container">

<% if @current_user %>
<%= yield %>
<% else %>
<h1>Please sign in.</h1>
<% end %>
</div>

<footer class="container">
  <div class="footer-border"></div>
  <p class="copylight">Created <a href="https://github.com/i2bskn" target="_blank">i2bskn</a></p>
</footer>

</body>
</html>
