<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tagged Gist</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <div class="container">
  <div class="row">
  <div class="span12">
  <div class="navbar">
  <div class="navbar-inner">
    <%= link_to "Tagged Gist", root_path, class: "brand" %>
    <ul class="nav pull-right">
      <% if @current_user %>
      <li><%= link_to "Sign out", signout_path %></li>
      <% else %>
      <li><%= link_to "Sign in with GitHub", "/auth/github" %></li>
      <% end %>
    </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
</header>

<%= render partial: "shared/notice" %>
<%= render partial: "shared/alert" %>

<div class="container">
<div class="row">
<div class="span12">

<% if @current_user %>
  <ul class="nav nav-pills">
    <li><a href="<%= @current_user.github_url %>" target="_blank"><i class="icon-user"></i> <%= @current_user.nickname %></a></li>
    <li><a id="sync_button" href="javascript:void(0)"><span id="sync_icon"><i class="icon-refresh"></i></span> Sync Gist</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-tags"></i> Tags<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/"><i class="icon-tag"></i> All</a></li>
        <% @tags.each do |tag| %>
        <li><a href="<%= root_path(tag: tag) %>"><i class="icon-tag"></i> <%= tag %></a></li>
        <% end %>
      </ul>
    </li>
    <li class="pull-right">
      <form class="form-inline">
      <div class="badge badge-info">Filter</div>
      <select id="filter">
        <option value="all">All</option>
        <option value="public">Public only</option>
        <option value="private">Private only</option>
      </select>
      </form>
    </li>
  </ul>

  <%= yield %>
<% else %>
<h1>Please sign in.</h1>
<% end %>
</div>
</div>
</div>

<footer>
  <div class="container">
  <div class="footer-border"></div>
  <div class="row">
  <div class="span12">
    <p class="copylight">Created <a href="https://github.com/i2bskn" target="_blank">i2bskn</a></p>
  </div>
  </div>
  </div>
</footer>

</body>
</html>
