<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>TaggedGist</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container-fluid">

<%= link_to "Tagged Gist", root_path, class: "brand" %>

<ul class="nav pull-right">
  <% if @current_user %>
  <li><%= link_to "Sign out", signout_path %></li>
  <% else %>
  <li><%= link_to "Sign in with GitHub", "/auth/github" %></li>
  <% end %>
</ul>
</div>
</div>
</div>

<div class="container-fluid">
<div class="row-fluid">

<% if @current_user %>
<div class="span2">
<div class="well">
  <h4>Profile</h4>
  <%= image_tag @current_user.image_url, class: "img-polaroid" %><br><br>
  <%= @current_user.nickname %><br>
  <%= @current_user.email %><br>
  <%= link_to "Sync Gists", gists_sync_path, class: "btn" %>
</div>

<div class="well">
  <h4>Tags</h4>
  <%= link_to "All", root_path %><br>
  <%= link_to "Tag1", "#" %><br>
  <%= link_to "Tag2", "#" %><br>
  <%= link_to "Tag3", "#" %><br>
  <%= link_to "Tag4", "#" %><br>
  <%= link_to "Tag5", "#" %><br>
  <%= link_to "Tag6", "#" %><br>
  <%= link_to "Tag7", "#" %><br>
</div>
</div>

<div class="span8">
<%= yield %>
</div>

<div class="span2">
  <div class="well">
    <h5>なんか書く</h5>
  </div>
</div>

<% else %>
<h1>Please sign in.</h1>
<% end %>

</div>
</div>

<div id="footer" class="container-fluid">
  <hr>
  <div class="row-fluid">
    <p class="text-center">Created <%= link_to "i2bskn", "https://github.com/i2bskn" %>.</p>
  </div>
</div>
</body>
</html>
